.App {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  transition: all .3s ease-in-out;
}

.searchBar {
  width: 90vw;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px 50px;
  font-weight: 300;
  font-size: 15px;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}